/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
:root {
  --header-height: 3.5rem;
  /* colors */
  --background-color: #1f2937;
  --header-color: #1f2937;
  --qoute-text-color: #1f2937;
  --secondary-text-color: #e5e7eb;
  --logo-color: #f9faf8;
  --button-color: #3882f6;
  --qoute-background: #e5e7eb;
  /* fonts and typography */
  --main-text: 3rem;
  --secondary-text: 1.125rem;
  --logo-text: 1.5rem;
  --header-text: 2.25rem;
  --qoute-text-size: 2.25rem;

  --body-font: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*========================= Header ============================= */
.header {
  width: 100vw;
  position: relative;
  height: 4rem;
  background-color: var(--background-color);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 6rem;
  align-items: center;
}

.nav-list {
  /* grid-template-columns: repeat(3, max-content); */
  justify-content: center;
  gap: 2rem 3rem;
  display: flex;
  color: var(--logo-color);
  margin-right: 1rem;
  margin-top: 1rem;
}
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  font-size: var(--secondary-text);
  color: var(--secondary-text-color);
}
.nav-logo {
  color: var(--logo-color);
  font-size: var(--logo-text);
  font-weight: 900;
}

/*========================= Home ============================= */
.home-container {
  display: flex;
  flex-direction: row;
  /* column-gap: 3.5rem; */
  position: relative;
  height: auto;
  width: 100vw;
  background-color: var(--background-color);
}
.main-title {
  margin: 3rem 3rem;
}
.main-title h1 {
  font-size: var(--main-text);
  font-weight: 900;
  color: var(--logo-color);
  padding: 2rem;
  letter-spacing: 4px;
  margin-bottom: 0;
}
.main-title p {
  font-size: var(--secondary-text);
  color: var(--logo-color);
  word-wrap: break-word;
  padding: 2rem;
  margin-top: 0;
}
.main-title button {
  background-color: var(--button-color);
  margin: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  color: var(--logo-color);
  width: 8rem;
  height: auto;
  font-size: var(--secondary-text);
  padding: 1rem;
  cursor: pointer;
}
.img-container {
  margin: 3rem 3rem;
  padding: 3rem;
}
.img-container img {
  width: 500px;
  height: 250px;
  background-size: cover;
  border-radius: 2px;
}

/*========================= Skills ============================= */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 3rem;
  padding: 3rem 3rem;
  position: relative;
  width: 100%;
  height: auto;
}
.skills-title {
  font-size: var(--header-text);
}
.skills-info {
  display: flex;
  flex-direction: row;
}
.skills-blob {
  width: 60px;
  height: 60px;
}
.skills-blob img {
  width: 60px;
  height: 60px;
  background-size: cover;
}
.skills-data {
  border: 3px solid blue;
  margin: 2.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
}

/*=========================  Review ============================= */
.review {
  background-color: var(--qoute-background);
}
.review-container {
  margin: 4rem;
  padding: 5rem;
  text-align: center;
  font-style: italic;
}

.review-container h3 {
  position: absolute;
  right: 12rem;
}

/*========================= Contact ============================= */
.contact-container {
  margin: 4rem;
  padding: 4rem;
  text-align: center;
}
.contact-box {
  background-color: var(--button-color);
  border: none;
  border-radius: 8px;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
}
.contact-box p {
  font-size: var(--secondary-text);
  color: var(--logo-color);
}
.contact-box button {
  border: 1px solid var(--logo-color);
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--logo-color);
  font-size: var(--secondary-text);
  padding: 1rem;
  cursor: pointer;
}

/*========================= footer============================= */

footer {
  width: 100%;
  height: 4rem;
  background-color: var(--background-color);
  position: relative;
  bottom: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  color: var(--logo-color);
}
